.all-events-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.events-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}