.all-events-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 5px;
}